<!doctype html>
<html lang="en" ng-app="toDoApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ToDoList</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<!-- AngularJS -->	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<!-- ToDoList -->
	<script src="app.js"></script>
	<script src="app-controller.js"></script>
</head>
<body>
	<div class="container" ng-controller="ToDoCtrl">
		<div class="row">
			<h2>ToDoList</h2>
			<ul class="nav nav-pills">
				<li>
					<a href="#">pending <span class="badge">{{getRemainingToDos()}}</span></a>
				</li>
				<li>
					<a href="#">all <span class="badge">{{getTotalToDos()}}</span></a>
				</li>
			</ul>
			<ul class="list-unstyled">
				<li ng-repeat="todo in todos">
					<input type="checkbox" ng-model="todo.done"> {{todo.text}}
				</li>
			</ul>
			<form role="form" ng-submit="addToDo()">
				<div class="form-group">
					<input type="text" ng-model="toDoText" size="30" placeholder="what do you want to do today?">
					<input class="btn btn-sm btn-default" type="submit" value="add">
				</div>
				
				<button type="button" class="btn btn-sm btn-default" ng-click="clearCompletedToDos()">clear completed</button>
			</form>		
		</div>
	</div>
</body>
</html>
